+++
title = "Modern Engineer"
linkTitle = "ModernEngineer"
+++

{{< blocks/cover title="Welcome to the Modern Engineer: Notes, turorials, and the thoughts and musings of a modern engineer!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/about" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/JamesCacioppo">
		My Github <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Pull a shot, poor some latte art, and let's dig in!</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
The primary purpose of this site is to provide polished versions of my notes and documentation in a way that's accessible to everyone.

An ancillary purpose is to provide myself with a place to express and document everything from my thoughts on branching strategies to cigar and whisky tasting notes.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-mug-hot" title="Coffee's brewing!" %}}
We're now pulling shots of Black & White The Classic.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/JamesCacioppo/JamesCacioppoDocsySource" %}}
We do a [Pull Request](https://github.com/JamesCacioppo/JamesCacioppoDocsySource/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow me on Twitter!" url="https://twitter.com/JamesCacioppo" %}}
For announcement of latest tutorials etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}
